body {
  font-family: "PTSans Regular", sans-serif;
  font-size: 14px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  line-height: 14px;
}

h1 {
  font-family: "PTSans Bold", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  line-height: normal;
  text-align:center;
}

h2 {
  font-family: "PTSans Bold", sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  line-height: normal;
  text-align:center;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.main-header {
  padding: 5px 0;
}
.container, .main-header{
  min-height: 20px;
  padding: 5px;
  align:center;
  width: 1000px;
  margin: 0 auto;
  
}

.search {
  min-height: 20px;
  padding: 5px;
  align:center;
  width: 1000px;
  margin-left: 300px;
}

.main-navigation {
  min-height: 50px;
  width: 520px;
  min-height: 20px;
}


.main-container {
  margin: 30px auto;
}
.logo {
  margin: 0;
  min-height: 120px;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 20px;
}


.fact {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 200px;
    min-height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 55px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  }

.main-footer {
  padding: 20px 0;
  margin-left:200px;
  
}
.footer-hashtag {
  min-height: 80px;
  width: 220px;
  float: left;
  margin-right: 35px;
}

.footer-social {
  min-height: 80px;
  width: 140px;
  float: left;
  margin-right: 35px;
}

.footer-copyright {
  min-height: 80px;
  width: 220px;
  float: left;
}