body {
  font-family: "PTSans Regular", sans-serif;
  font-size: 14px;
  font-weight: regular;
  text-transform: uppercase;
  line-height: 14px;
  text-align: center;
  }

h2 {
  font-family: "PTSans Bold", sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
  text-align:center;
}

h3 {
  font-family: "PTSans Bold", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
  text-align:center;
}

.clearfix:after {
 content: '';
  display: table;
  clear: both;
}

.col4 {
  width: 33.33333333%;
  float: left;
}

.col8 {
 width: 66.66666666%;
  float: left;
}


.main-header {
  padding: 5px 0;
}

  .nav ul {
  list-style: none;
  background-color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}
  .nav li {  
  
  height: 40px;
  display: inline-block;
  margin-right: 1%;
}
 
  .nav a {
  text-decoration: none;
  color: black;
  display: block;

}
 

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.sedona-logo {
  background-color: #99cccc;
  color: black;
  background-image: url('img/background.jpg');
}


.container

.main-heade

.row-text 

.main-text 

.img-holder {

  }

.row-facts{
    
  width: 100%;
}

.fact {
  padding-top: 3%;
  padding-bottom: 3%;
}

.describe{
  color: white;
  background-color: #99cccc;
  padding-top: 4.5%;
  padding-bottom: 4.5%;
}

.row-facts-2 {
  background-color: #eeeeee;
}

.booking {
  background-color: white;
  box-shadow: inset;
}

.booking-title {
 display: inline-block;
 background-color: white;
  width: 60%;
  box-shadow: inset;
}

.searching-title {
  display: inline-block;
  width: 45%;
  font-size: 18px;
  color: white;
  background-color: #766357;
  padding-top: 2%;
  padding-bottom: 2%;
  box-shadow: inset;
  border: solid 1px;
}

.result-row {
  border-top: solid 1px;
  border-bottom: solid 1px;
}

form {
  box-shadow: inset;
  border: solid 1px;
  width: 35%;
  padding: 3%;
}

.search {
  min-height: 20px;
  padding: 5px;
  margin-left: 300px;
}

.btn-more{
  padding: 1%;
  color: white;
  background-color: #99cccc;
}

.btn-more:hover {
 background-color: #669ec0;
}

.btn-booking {
  padding: 1%;
  color: white;
  background-color: #766357;
}

.btn-booking:hover{
  background-color: #604e43;
}

.main-footer {
  padding: 20px 0;
  margin-left:200px;
}

